@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
:root {
  --activecolor: #316738;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #316738;
  border-radius: 10px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #316738;
}

::selection {
  color: white;
  background: #316738;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: var(--activecolor);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 10px;
}

.main-screen {
  position: relative;
  top: 0px;
  z-index: 999;
  height: 600px;
  background: fixed;
  background-size: cover;
  background-color: rgb(27, 26, 26);
  background-image: url(./assets/bg-6.jpg);
  width: 100%;
}

.main-screen::after {
  content: '';
  position: absolute;
  bottom: -2px;
  background-image: url(./assets/wave-first.png);
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center bottom; 
  width: 100%;
  height: 110px;
}

 @media screen and (max-width: 1250px) {
   .main-screen {
     background: local;
     background-size: cover;
     background-color: rgb(27, 26, 26);
     background-image: url(./assets/bg-6.jpg);
   }
 }
 
 @media  screen and  (max-width: 1150px) {
   .main-screen {
     height: 500px;
   }
 }
 
 @media  screen and  (max-width: 600px) {
   .main-screen {
     height: 460px;
   }
 }
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  transition-duration: 300ms;
}
.navbar-header.active {
  position: fixed;
  background-color: #fff;
  color: black;
  width: 100%;
  padding: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 9998;
}
.logo-box {
  display: flex;
  width: 8rem;
}
.logo-box > img:nth-child(2) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-links {
  display: flex;
  gap: 24px;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .navbar-links {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
  .navbar-header {
    padding: 5px;
  }
}
.hero {
  display: grid;
  gap: 24px;
  position: absolute;
  top: 170px;
  margin-left: 20px;
}
.hero > h1 {
  font-size: 3.75rem;
  line-height: 1;
  color: white;
}
@media screen and (max-width: 640px) {
  .hero > h1 {
    font-size: xx-large;
  }
  .hero {
    top: 100px;
  }
}
.hero > p {
  max-width: 28em;
  color: rgb(226 232 240 / 1);
}
button {
  background-color: #78c081;
  border: none;
  border-radius: 9999px;
  color: rgb(226 232 240 / 1);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  user-select: none;
}
button:hover {
  background-color: #316738;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top {
  margin-top: 8rem;
}
.navbar-mobil-links {
  position: fixed;
  left: -100%;
  top: 0;
  width: 266px;
  height: 100vh;
  display: none;
  flex-direction: column;
  gap: 24px;
  padding: 10px;
  background-color: white;
  border-radius: 0 4px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: left 0.3s ease;
}
.navbar-mobil-links.active {
  left: 0;
}
@media screen and (max-width: 940px) {
  .navbar-mobil-links {
    display: flex;
  }
}
.navbar-mobil-links > .site-links {
  user-select: none;
}
.hero > h1 , .hero > p {
 user-select: none;
}
.hero-buttons {
  display: flex;
  gap: 24px;
}
.line-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  display: block;
}
.title {
  text-align: center;
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 25px !important;
  user-select: none;
  cursor: default;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-image {
  position: absolute;
  right: -50px;
  bottom: -40px;
  transform: rotate(-15deg);
  border-radius: 10px;
  transition: 300ms;
}
.inner-image:hover {
  transform: rotate(0deg);
  transition: 300ms;
}
#promotion {
  background-color: #78c081;
  position: relative;
}

#contact {
  background-color: #78c081;
  position: relative;
}
#slide {
  transition: transform 0.3s ease;
}
.slide-transform-0 {
  transform: translate3d(0px, 0px, 0px);
}
.slide-transform-1 {
  transform: translate3d(calc(-100% - 41px), 0px, 0px);
}
@media  screen and (max-width: 768px) {
  .slide-transform-1 {
    transform: translate3d(calc(-100%), 0px, 0px);
  }
  .slide-transform-2 {
    transform: translate3d(-214%, 0px, 0px);
  }
}
#test{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #78c081;
  border-radius: 25px;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #78c081 !important;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  padding-bottom: 65px;
}
/* swiper buttons */
.swiper-navBtn{
  color: #78c081 !important;
  transition: color 0.3s ease;
}
@media  screen and (max-width: 768px) {
  .swiper-navBtn{
    color: #ddffe0 !important;
    transition: color 0.3s ease;
  }  
}
.swiper-navBtn:hover{
  color: #78c081;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  color: #78c081 !important;
  right: 0;
}
.swiper-button-prev{
  color: #78c081 !important;
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #78c081 !important;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #78c081 !important;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
.swiper-slide {
  height: auto !important;
}
.slide-button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #78c081 !important;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: center;
}
.slide-button:hover {
  background-color: #316738 !important;
  color: #ffff !important;
}
.card-content {
  gap: 10px;
}
.line-img {
  user-select: none;
}
.bg-green {
  position: relative;
  background-color: #78c081;
}
.intro-section {
  display: flex;
  gap: 10px;
  padding: 5px;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin: 0 0 100px;
}
.f-item {
  width: calc(50% - 5px);
}
.s-item {
  width: calc(50% - 5px);
}
@media screen and (max-width: 920px) {
  .f-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .s-item {
    width: 100%;
  }
}
.s-item > h2 {
  text-align: center;
  padding-bottom: 10px;
}
.line-bottom::after {
  content: '';
  position: absolute;
  background-image: url(./assets/wave-first.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: -3px;
  width: 100%;
  height: 110px;
}
.line-top::before {
  content: '';
  position: absolute;
  background-image: url(./assets/bottom_green_wave_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 110px;
  top: -110px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
  margin-top: 24px;
}
@media  screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.gallery + .flex-center {
  margin-top: 10px;
}
.gallery-item {
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
}
.popup-image
{
  position: fixed;
  top:0;
  left:0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
}
.popup-image.active {
  display: block !important;
}
.popup-image span
{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.popup-image img
{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  object-fit: cover;
}
.hidden {
  display: none;
}
.faq-container {
  display: grid;
  gap: 10px;
  margin-top: 24px;
}
.faq-item {
  background-color: #e5e7eb;
  border-radius: 4px;
  padding: 10px;
}
.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.faq-item > p {
  padding-top: 10px;
}
.faq-header > svg {
  width: 25px;
  height: 25px;
}
.white {
  color: white;
}
iframe {
  border: none;
}
.contact {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 14px;
  padding: 10px;
}
.items {
  width: calc(50% - 10px);
}
@media screen and (max-width: 940px) {
  .items {
    width: 100%;
  }
  .contact {
    padding: 0;
  }
}
.contact-items{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bg-dark {
  background-color: #1d1e25;
  display: flow-root;
}
.footer-cont {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap-reverse;
}
@media screen and (max-width: 560px) {
  .footer-cont {
    gap: 35px;
  }
}
.footer-items {
  display: grid;
  gap: 10px;
  color: white;
}
@media screen and (max-width: 560px) {
  .footer-items {
    width: 100%;
  }
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding-bottom: 75px;
}
.grid > p {
  color: #707070;
}
.grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 540px) {
  .grid-cont {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
.grid-img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}
.grid-img-cont {
  height: 500px;
}
.bottom {
  margin-bottom: 1rem;
}